@import "../css/variables.scss";

.container {
	width: 100%;
	padding: 80px 16px;
	max-width: 500px;
	margin: 0 auto;

	.form {
		border: 1px solid rgb(15, 176, 227);
		padding: 20px;
	}
}

.t {
	text-decoration: none;
	color: white;
	background-color: #5d5dde;
	background-image: linear-gradient(315deg, #5d5dde 0%, #009ffd 74%);
	padding: 4px 10px;
	border-radius: 99px;
}
