$font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
$main-color:#090909;
$accent-color:#FF9800;
$transition: all .3s cubic-bezier(.25,.8,.05,1);

/*$xl: 1920px;
$lg: 1280px;
$md: 960px;
$sm: 599px;*/

$xl: 1360px - 1px;
$lg: 1200px - 1px;
$md: 992px - 1px;
$sm: 768px - 1px;
$xs: 576px - 1px;